body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #8F8686;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    color: white;
}

main {
    flex-grow: 1;
    ;
}

nav {
    background-color: #0C4873;
    max-height: 155px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-bottom: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 4px;
    flex-grow: 1;
    justify-content: space-around;
    align-self: flex-end;
}

.logo {
    height: 150px;
    width: 250px;
    margin-right: 50px;
}


header {
    background-color: #0C4873;
    height: 155px;
    text-align: center;
    color: white;
}

header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bilder {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 30px auto;
}

.bilder img {
    width: calc(50% - 10px);
    height: 335px;
    object-fit: cover;
}


footer {
    background-color: #0C4873;
    height: 30px;
    width: 100%;
    color: white;
    text-align: center;
    line-height: 20px;
}

footer p {
    margin: 0;
}

h1 {
    color: white;
    margin: 0;
    padding: 20px 0;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.booking {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
    max-width: 1200px;
}

.bookingform {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 5px;
    margin-left: 20px;
}

.bookingbild {
    margin-right: 20px;
}

.bookingform label {
    color: white;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

.bookingform button {
    background-color: #0C4873;
    color: white;
    border: none;
    padding: 12px;
    ;
    margin-top: 30px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

@media (max-width: 768px) {
    .bookingbild {
        display: none;
    }

    .booking {
        flex-direction: column;
        align-items: center;
    }
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

footer ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 4px;
    flex-grow: 1;
    justify-content: space-around;
    align-self: flex-end;
}

footer a {
    color: white;
    text-decoration: none;

}

footer a:hover {
    text-decoration: underline;
}